/*NAVBAR SHOW/HIDE ON SCROLL*/

.headroom {
    transition: transform 200ms linear;
}

.headroom--pinned {
    transform: translateY(0%);
}

.headroom--unpinned {
    transform: translateY(-100%);
}


/*NAVBAR*/

nav {
	border-radius: 0px;
}

.jumbo1 {
	background-image: url(img/jumbotron.jpg);
	height: 100vh;
}